@import "mixin";
@import "var";


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

header{
    border: solid black 1px;
    border-top: solid white 1px;
    width: 80%;
    margin: auto;
    line-height: 3em;
    
    h1{
        font-weight: 800;
        margin-left: 20px;
        margin-top: 10px;
    }
    h2{
        color: $color-eaoeq;
        margin-left: 20px;
    }
}

nav{
    text-align: right;
    background-color: black;
    @include width;
    color: white;
    font-size: 25px;
    padding: 10px;
    
    
    ul{
        margin: 0;
        padding: 0;

        li{
            display: inline-block;
            padding-right: 15px;
        }
    }
}

section{
    
    @include width;
    border: black solid 1px;

    h1{
        
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 20px;
    }
    div{
        
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 20px;
        width: 80%;
        margin: auto;
        
        
       
    }

    ul{
       list-style-type: none;
       margin-top: 50px;
       margin-left: 20px;

        li{
            margin-top: 10px;
        }
    }
}

footer{
    border: solid black 1px;
    font-size: 20px;
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 10px   ;
    border-top: none;
}